<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
	backupGlobals="true"
	beStrictAboutTestsThatDoNotTestAnything="false"
	colors="true">

	<testsuites>
		<testsuite name="WordPress">
			<directory suffix="UnitTest.php">./WordPress/Tests/</directory>
		</testsuite>
	</testsuites>

	<php>
		<!-- This line prevents issues with PHPCS trying to load sniff files for
			 standards which we aren't testing.
			 Ref: https://github.com/squizlabs/PHP_CodeSniffer/pull/1146 -->
		<env name="PHPCS_IGNORE_TESTS" value="Generic,MySource,PEAR,PSR1,PSR2,PSR12,Squiz,Zend,PHPCompatibility"/>
	</php>
</phpunit>
